body {
  background-color: $body-bg;
  font-family:  $font-family-sans-serif;
}

a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: $nav-link-color;
}

.card-btn {
  a {
    border-radius: 1rem;
  }
}

.home-wiews {
  h1 {
    font-size: 3rem;
  }
}

.home-views-header {
  font-size: 1rem;
}
